apiVersion: apps/v1
kind: Deployment
metadata:
  name: django
  namespace: taskmanager-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
      - name: django
        image: mustafa3li/project:latest
        imagePullPolicy: Always
        env:
        - name: DATABASE_HOST
          value: mysql.taskmanager.svc.cluster.local
        - name: DATABASE_PORT
          value: "3306"
        - name: DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: database-name
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: user
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: password
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
        ports:
        - containerPort: 5000
