{% extends 'base_auth.html' %}

{% block title %}Change Password{% endblock %}
{% block heading %}Change Password{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label>Old Password:</label>
    <input type="password" name="old_password" required>

    <label>New Password:</label>
    <input type="password" name="new_password" required>

    <label>Confirm New Password:</label>
    <input type="password" name="confirm_password" required>

    <button type="submit">Change Password</button>
</form>
{% endblock %}